@import url('../../../public/css/modules/pages.css');
//Var
$fundo: #1e1e1e;
$componets-fundo: #000;

#buttons{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 7px;
    //justify-content: space-between;
    //align-content: space-between;
}
#visor{
    background-color: $componets-fundo;
    color: #fff;
    width: 100%;
    margin: 0 0 10px;
    padding: 10px;
    height: 70px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    border-radius: 5px;
    & > div{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}
