@import url('../../../public/css/modules/main.css');
@import url("../../../public/fonts/css-import/RobotoSlab-Regular.css");

body{
    color: var(--text-color);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

label{
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
}

#screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formule{
    font-family: "Roboto Slab";
}

#inputs{
    margin: 20px auto 0;
}

#result-wrapper{
    margin-top: 15px;
}

.res{
    border: 2px solid var(--text-color);
    width: 100%;
    padding: 3px;
    margin: 10px 5px 0 0;
    text-align: left;
    border-radius: 4px;
    display: grid;
    grid-template-columns: auto max-content;
}

.res:first-child{
    margin: 0 5px 0 0;
}