@import url('../../../public/css/modules/main.css');
@import url('../../../public/css/modules/var.css');

:root {
    --text-color: #eee;
}

#container{
    grid-template-rows: repeat(3, max-content);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('../../../assets/calendar.svg');
    background-position: center;
    width: 14px;
    height: 18px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 0.5rem;
}

input[type="date"]{
    width: 100%;
    border: 1px solid var(--text-color);
    margin: 5px 0;
    background-color: black;
    border-radius: 3px;
    color: var(--text-color);
    font-size: 15px;
    font-family: 'Nunito';
    &:focus{
        outline: none;
    }
}

.inputs{
    margin: 10px 0;
}

.def{
    font-size: 20px;
}

#visor, .def{
    color: var(--text-color);
}