@import url(../../css/modules/pages.css);

$font: #eee;

#data {
    input[type="date"] {
        width: 100%;
        border: 1px solid $font;
        margin: 5px 0;
        background-color: black;
        border-radius: 3px;
        color: $font;
        font-size: 15px;
        font-family: 'Nunito';

        &:focus {
            outline: none;
        }

        &::-webkit-calendar-picker-indicator {
            background-image: url('../../../assets/calendar.svg');
            background-position: center;
            width: 14px;
            height: 18px;
            cursor: pointer;
            border-radius: 50%;
            margin-left: 0.5rem;
        }
    }

    .inputs {
        margin: 10px 0;
    }

    .def {
        font-size: 20px;
    }

    #visor,
    .def {
        color: $font;
    }

    #visor {
        white-space: pre;
    }
}