%flex-column {
    display: flex;
    flex-direction: column;
}

#pa,
#pg {
    display: grid;
    grid-template-rows: max-content auto 1fr;
    grid-row-gap: 15px;
    color: var(--text-color);

    .submit {
        margin-top: 15px;
        border-radius: 3px;
        border: 1px solid var(--text-color);
        width: max-content;
        padding-inline: 5px;
        align-self: center;
        cursor: pointer;
    }

    .grid-input-group {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-column-gap: 15px;
    }

    .screen {
        @extend %flex-column;

        >form {
            @extend %flex-column;
            width: max-content;

            label {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 16px;
            }
        }
    }

    .menu {
        display: flex;
        width: 100%;

        >button {
            width: 50%;
            font-size: 18px;
            background-color: var(--components-fundo);
            font-weight: normal;
            cursor: pointer;
            border-bottom: 2px solid var(--components-fundo);

            &.selected {
                border-color: var(--text-color);
                font-weight: bold;
            }
        }
    }



    #result-wrapper {
        height: 100%;
        position: relative;

        #result {
            @extend %flex-column;
            gap: 10px;

            overflow-y: auto;
            position: absolute;
            height: 100%;
            width: 100%;
            padding: 0 2.5px;

            &:empty {
                visibility: hidden;
            }

            .res {
                border: 2px solid var(--text-color);
                height: max-content;
                padding: 3px;
                margin: 10px 5px 0 0;
                text-align: left;
                border-radius: 4px;
                display: grid;
                grid-template-columns: auto max-content;

                img {
                    cursor: pointer;
                }

                &:first-child {
                    margin: 0 5px 0 0;
                }
            }
        }
    }

    .screen-wrapper {
        padding-left: 5px;
    }

    input[type="text"] {
        background: var(--fundo);
        border: none;
        border-bottom: 1px #fff solid;
        width: 30px;
        text-align: center;
        appearance: textfield;
        outline: 0;
        color: var(--text-color);
        // caret-color: transparent !important;

        &::-webkit-inner-spin-button {
            display: none;
        }

        &:focus {
            border-bottom-width: 2px;
            font-weight: bold;
        }
    }
}