#container {
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-row-gap: 15px;
    color: var(--text-color);
}

.generate{
    margin-top: 15px;
    border-radius: 3px;
    border: 1px solid var(--text-color);
    width: max-content;
    padding-inline: 5px;
    align-self: center;
}

.grid-input-group {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 15px;
}

.screen {
    display: none;
    &.visible{
        display: flex;
        flex-direction: column;
    }
}

.menu{
    display: flex;
    width: 100%;
    & > button{
        background-color: var(--fundo);
        width: 50%;
        font-size: 18px;
        background-color: var(--components-fundo);
        font-weight: normal;
        &.selected{
            border-bottom: 2px solid var(--text-color);
            font-weight: bold;
        }
    }
}

input[type="number"]{
    background: var(--fundo);
    border: none;
    border-bottom: 1px #fff solid;
    width: 30px;
    text-align: center;
    appearance: textfield;
    outline: 0;
    color: var(--text-color);
    caret-color: transparent !important;
    &::-webkit-inner-spin-button {
        display: none;
    }
    &:focus{
        border-bottom-width: 2px;
        font-weight: bold;
    }
}