:root{
    --background: #1e1e1e;
    --components-background: #000;
    --text-color: #fff;
    
    --button-color: #fff;
    --button-background: #000;
    --hover-button-background: #111;
    --disable-button-background: #404040;
    --submit-button-border: 1px solid #fff;
}